{{ define "title"}}Tissquest{{ end }}
{{ define "scripts"}}{{ end }}
{{ define "content"}}
<div class="wrapper">
    <header>
        <h1 class="home-title">{{.title}}</h1>
    </header>
    
    <main>
        <ul class="intro-imgs-listing">
            <li class="tall-portrait-img">
                <img src="https://botweb.uwsp.edu/Anatomy/images/monocotleaves/images_c/anat1234.jpg" alt="vegetal"
                    class="responsive-img">
            </li>
            <li class="short-portrait-img">
                <img src="https://teachyourselfenvironmentalhomeinspecting.com/pix/alternaria.jpg" alt="fungus"
                    class="responsive-img">
            </li>
            <li class="wide">
                <img src="https://www.microscopemaster.com/images/Protozoa1stpic.jpg" alt="protozoa" class="responsive-img">
            </li>
            <li class="wide-portrait-img">
                <img src="https://histologyguide.com/imgs/striate-duct-parotid.jpg" alt="animal"
                    class="responsive-img">
            </li>
            <li>
                <img src="https://as2.ftcdn.net/v2/jpg/05/33/25/55/1000_F_533255532_AA98DXxz3DRduQ3FCwIobLDbZP4qSpjn.jpg" alt="vegetal"
                    class="responsive-img">
            </li>
        </ul>
    </main>

    {{ template "main-menu.html" . }}

    <footer>
        Desarrollado por xyz
    </footer>
</div>
{{end }}