{{ define "title"}}Tissquest{{ end }}
{{ define "scripts"}}{{ end }}
{{ define "body"}}
<div class="wrapper">
    <header class="main-head">
        <div class="home-title">
            MENU
        </div>
    </header>

    <ul class="home-available-atlas-listing">
        <h1 class="box-title">Atlas disponibles:</h1>
        {{ range .Atlases }}
        <a class="menu-item_link card-1" href="/atlas/{{ .ID }}">
            <li class="short-portrait-img">
                <p>{{ .Name }}</p>
            </li>
        </a>
        {{ end }}
    </ul>
    <footer class="main-footer">Desarrollado por S3E & Universidad XYZ</footer>
</div>
{{ end }}