{{define "main-menu"}}
<nav class="navbar bg-base-100 shadow mb-4">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">TissQuest</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li><a href="/atlases">Atlases</a></li>
      <li><a href="/tissue_records">Tissue Records</a></li>
      <li><a href="/taxa">Taxa</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
  </div>
</nav>
{{end}}
