<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="main-head">
                <div class="home-title">
                    TISSQUEST
                </div>
            </header>
            <ul class="intro-imgs-listing">
                <li class="tall-portrait-img">
                    <img src="https://botweb.uwsp.edu/Anatomy/images/monocotleaves/images_c/anat1234.jpg" alt="vegetal" class="responsive-img">
                </li>
                <li class="short-portrait-img">
                    <img src="https://teachyourselfenvironmentalhomeinspecting.com/pix/alternaria.jpg" alt="fungus" class="responsive-img">
                </li>
                <li class="wide">
                    <img src="https://www.microscopemaster.com/images/Protozoa1stpic.jpg" alt="protozoa" class="responsive-img">
                </li>
                <li class="wide-portrait-img">
                    <img src="https://histology.medicine.umich.edu/sites/default/files/images/slides/5renal.jpg" alt="animal" class="responsive-img">
                </li>
                <li>
                    <img src="https://histology.medicine.umich.edu/sites/default/files/images/slides/11CNS.jpg" alt="vegetal" class="responsive-img">
                </li>
            </ul>

            <ul class="home-available-atlas-listing">
                <h1 class="box-title">Atlas disponibles:</h1>
                <a class="menu-item_link card-1" href="#">
                    <li class="short-portrait-img">
                        <p>Atlas de Anatomía Vegetal</p>
                    </li>
                </a>
                <a class="menu-item_link card-1" href="#">
                    <li class="short-portrait-img">
                        <p>Atlas de Histología Animal</p>
                    </li>
                </a>
                <a class="menu-item_link card-1" href="#">
                    <li class="wide">
                        <p>Atlas de Tejidos Fúngicos</p>
                    </li>
                </a>
                <li class="wide-portrait-img card-1">
                    <a class="menu-item_link" href="#">
                        <p>Atlas de XYZ</p>
                    </a>
                </li>
            </ul>
            <footer class="main-footer">Desarrollado por S3E & Universidad XYZ</footer>
        </div>
    </body>
</html>
