<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="main-head">Anatomía Vegetal</header>
            <ul class="intro-imgs-listing">
                <li class="tall-portrait-img">
                    <img src="https://botweb.uwsp.edu/Anatomy/images/monocotleaves/images_c/anat1234.jpg" alt="vegetal" class="responsive">
                </li>
                <li class="short-portrait-img">
                    <img src="https://teachyourselfenvironmentalhomeinspecting.com/pix/alternaria.jpg" alt="fungus" class="responsive">
                </li>
                <li class="wide">
                    <img src="https://www.microscopemaster.com/images/Protozoa1stpic.jpg" alt="protozoa" class="responsive">
                </li>
                <li class="wide-portrait-img">
                    <img src="https://histology.medicine.umich.edu/sites/default/files/images/slides/5renal.jpg" alt="animal" class="responsive">
                </li>
                <li>
                    <img src="https://histology.medicine.umich.edu/sites/default/files/images/slides/11CNS.jpg" alt="vegetal" class="responsive">
                </li>
            </ul>

            <article class="content">
                <h1>Área principal del artículo</h1>
                <p>
                En este diseño, las áreas se muestran en el orden en que están escritas en
                las pantallas de menos de 500 píxeles de ancho. Pasamos a un diseño de dos
                columnas, y luego a uno de tres columnas mediante la redefinición de la
                rejilla y la colocación de los elementos en ella.
                </p>
            </article>
            <footer class="main-footer">The footer</footer>
        </div>
    </body>
</html>
