<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        {{/* <div class="wrapper">
            <div class="col2" style="align-items: center;">
                <h1>ATLAS TISULAR</h1>
                <h2>(Tissquest)</h2>
            </div>
        </div>
        <div class="tissues-gallery">
            <div class="gallery-img">
                sdffdsfdsfd
            </div>
            <div class="gallery-img">
                sdffdsfdsfd
            </div>
            <div class="gallery-img">
                sdffdsfdsfd
            </div>
            <div class="gallery-img">
                sdffdsfdsfd
            </div>
            <div class="gallery-img">
                sdffdsfdsfd
            </div>
        </div> */}}

        <div class="grid-container grid-container--fill">
    <div class="grid-element">
        1
    </div>
    <div class="grid-element">
        2
    </div>
    <div class="grid-element">
        3
    </div>
    <div class="grid-element">
        4
    </div>
    <div class="grid-element">
        5
    </div>
    <div class="grid-element">
        6
    </div>
    <div class="grid-element">
        7
    </div>
    </div>

    <hr>

    auto-fit
    <div class="grid-container grid-container--fit">
    <div class="grid-element">
        1
    </div>
    <div class="grid-element">
        2
    </div>
    <div class="grid-element">
        3
    </div>
    <div class="grid-element">
        4
    </div>
    <div class="grid-element">
        5
    </div>
    <div class="grid-element">
        6
    </div>
    <div class="grid-element">
        7
    </div>
    </div>
    </body>
</html>
